<div class="padding-left-250">
    <h4>Welcome Slider</h4>
    <div class="col-sm-12">
        <div class="boxcard">
            <button type="button" class="btn btn-warning text-white float-right margin-bottom-10" (click)="addnewpageclick()">Add New</button>
           <div class="padding-top-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>IMAGE</th>                        
                        <th>SORT NO</th>
                        <th>TITLE</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let welcomeinfo of welcomesliderList">
                        <td>{{welcomeinfo.imagepath}}</td>
                        <td>{{welcomeinfo.sortno}}</td>
                        <td>{{welcomeinfo.title}}</td>                        
                    </tr>
                </tbody>
            </table>
           </div>
            
        </div>
    </div>
</div>


