<div class="padding-left-250">
    <h5>Push Notifications</h5>
    <div class="boxcard">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>Description(less than 250 characters)</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" style="margin-left: 20px;" class="btn btn-success">Send</button>
    </div>
</div>
