<div class="padding-left-250">
    <h4>Manage Delivery Staff</h4>
    <div class="col-sm-12">
        <div class="boxcard">
            <button class="btn btn-warning text-white float-right margin-top-10" (click)="addNewPageClick()">Add New</button>
            <table id="example" class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Option</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Pav</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Siddhu</td>
                        <td>6385679874</td>
                        <td>Pavani123</td>
                        <td>Active</td>
                        <td>
                            <button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
