<div class="padding-left-250">
    <div class="boxcard">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Select Store</label>
                <select class="form-control"> 
                    <option>All Store</option>
                    <option>Paradise</option>
                    <option>Deja-Vo</option>
                    <option>Bawarchi</option>
                    <option>Special Magic</option>
                </select>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>From Date</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>To Date</label>
                            <input type="date" class="form-control">
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-success" style="margin-left: 23px;" type="button">Get Report</button>
        </div>
    </div>
</div>
