<div class="padding-left-250">
 <h4>App Users</h4>
 <div class="col-sm-12">
    <div class="boxcard">
        <table id="example1" class="table table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th> 
                    <th>Phone</th>
                    <th>RegDate</th>
                    <th>Total Order</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pavani</td>
                    <td>pavaniponnaganti@gmail.com</td>
                    <td>0000000000</td>
                    <td>22-07-1997</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Amala</td>
                    <td>Amala@gmail.com</td>
                    <td>0000000000</td>
                    <td>09-02-1995</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Abisha</td>
                    <td>abhi@gmail.com</td>
                    <td>1234567890</td>
                    <td>07-jan-2002</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Pavani</td>
                    <td>pavaniponnaganti@gmail.com</td>
                    <td>0000000000</td>
                    <td>22-07-1997</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Amala</td>
                    <td>Amala@gmail.com</td>
                    <td>0000000000</td>
                    <td>09-02-1995</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Abisha</td>
                    <td>abhi@gmail.com</td>
                    <td>1234567890</td>
                    <td>07-jan-2002</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Pavani</td>
                    <td>pavaniponnaganti@gmail.com</td>
                    <td>0000000000</td>
                    <td>22-07-1997</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Amala</td>
                    <td>Amala@gmail.com</td>
                    <td>0000000000</td>
                    <td>09-02-1995</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Abisha</td>
                    <td>abhi@gmail.com</td>
                    <td>1234567890</td>
                    <td>07-jan-2002</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Pavani</td>
                    <td>pavaniponnaganti@gmail.com</td>
                    <td>0000000000</td>
                    <td>22-07-1997</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Amala</td>
                    <td>Amala@gmail.com</td>
                    <td>0000000000</td>
                    <td>09-02-1995</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Abisha</td>
                    <td>abhi@gmail.com</td>
                    <td>1234567890</td>
                    <td>07-jan-2002</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Pavani</td>
                    <td>pavaniponnaganti@gmail.com</td>
                    <td>0000000000</td>
                    <td>22-07-1997</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Amala</td>
                    <td>Amala@gmail.com</td>
                    <td>0000000000</td>
                    <td>09-02-1995</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Abisha</td>
                    <td>abhi@gmail.com</td>
                    <td>1234567890</td>
                    <td>07-jan-2002</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Pavani</td>
                    <td>pavaniponnaganti@gmail.com</td>
                    <td>0000000000</td>
                    <td>22-07-1997</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Amala</td>
                    <td>Amala@gmail.com</td>
                    <td>0000000000</td>
                    <td>09-02-1995</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Abisha</td>
                    <td>abhi@gmail.com</td>
                    <td>1234567890</td>
                    <td>07-jan-2002</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Pavani</td>
                    <td>pavaniponnaganti@gmail.com</td>
                    <td>0000000000</td>
                    <td>22-07-1997</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Amala</td>
                    <td>Amala@gmail.com</td>
                    <td>0000000000</td>
                    <td>09-02-1995</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Abisha</td>
                    <td>abhi@gmail.com</td>
                    <td>1234567890</td>
                    <td>07-jan-2002</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Pavani</td>
                    <td>pavaniponnaganti@gmail.com</td>
                    <td>0000000000</td>
                    <td>22-07-1997</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Amala</td>
                    <td>Amala@gmail.com</td>
                    <td>0000000000</td>
                    <td>09-02-1995</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Abisha</td>
                    <td>abhi@gmail.com</td>
                    <td>1234567890</td>
                    <td>07-jan-2002</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>